.text-success {
    color: $success !important;
}

.text-danger {
    color: $danger !important;
}

.text-warning {
    color: $warning !important;
}

.text-info {
    color: $primary !important;
}

//smarteknoloji.new.color.added.04062021

.text-yahoo {
    color: #400191 !important;
}

a.text-yahoo:hover,
a.text-yahoo:focus {
    color: #2a015e !important;
}

.text-reddit {
    color: #ff4500 !important;
}

a.text-reddit:hover,
a.text-reddit:focus {
    color: #cc3700 !important;
}

.text-spotify {
    color: #7ab800 !important;
}

a.text-spotify:hover,
a.text-spotify:focus {
    color: #588500 !important;
}

.text-vine {
    color: #00bf8f !important;
}

a.text-vine:hover,
a.text-vine:focus {
    color: #008c69 !important;
}

.text-pink {
    color: #e83e8c !important;
}

a.text-pink:hover,
a.text-pink:focus {
    color: #d91a72 !important;
}
